<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="TwilioQuest starter code">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to the Ruby Guild!</title>

    <!-- A little CSS to make our page prettier -->
    <link href="//fonts.googleapis.com/css?family=Press+Start+2P" 
        rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/app.css"/>
    <link rel="icon" type="image/png" href="/favicon.png">

    <!-- Include jQuery to help us with some UI stuff -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
    </script>
</head>
<body>
    <!-- A simple UI to test our Twilio back end -->
    <div id="content">

        <% if message then %>
        <div id="flash">
            <p><%= message %> <a href="#">Close</a></p>
        </div>
        <% end %>

        <div id="welcome">
            <img src="/ruby_shield256.png" alt="Ruby Shield"/>
            <h1><span>Ruby</span> Guild</h1>
            <p>
                Welcome to the Ruby Guild! Join your fellow Rubyists as you
                metaprogram to victory in your own Twilio Quest.
            </p>
            <p>
                <a href="http://quest.twilio.com">Gather your party and
                venture forth</a>
            </p>
        </div>

        <h3>Hello World</h3>
        <p>
            Below, we have two simple demos that will confirm your environment
            has been properly configured.  Please refer to the 
            <a href="https://github.com/twilio/starter-ruby">README.md in your 
            starter app repository</a> to see how to configure this application.
        </p>
        <br/>
        <ul id="tabs">
            <li id="messaging" class="current">Messaging</li>
            <li id="call">Voice Call</li>
        </ul>
        <div id="messaging-demo">
            <form action="/message" method="POST">
                <p>Enter your mobile phone number:</p>
                <input name="to" type="text" placeholder="ex: +16518675309"/>
                <input type="submit" value="Send me a message"/>
            </form>
        </div>
        <div id="call-demo">
            <form action="/call" method="POST">
                <p>Enter your mobile phone number:</p>
                <input name="to" type="text" placeholder="ex: +16518675309"/>
                <input type="submit" value="Call my phone"/>
            </form>
        </div>
    </div>
    <div id="footer">
        <span>Twilio</span><img src="/TwilioQuest32.png" alt="TwilioQuest"/>Quest
        <p>
            Made with <img src="/heart.gif" alt="heart"> by your pals 
            <a href="http://www.twilio.com">@twilio</a>.
        </p>
    </div>

    <!-- Some dirty JavaScript to help drive our UI -->
    <script>
    function changeTab(newTab) {
        if (newTab === 'messaging') {
            $('#messaging').addClass('current');
            $('#call').removeClass('current');
            $('#messaging-demo').show();
            $('#call-demo').hide();
        } else {
            $('#call').addClass('current');
            $('#messaging').removeClass('current');
            $('#call-demo').show();
            $('#messaging-demo').hide();
        }
    }

    $('#messaging').on('click', function(e) { 
        changeTab('messaging');
        e.stopPropagation(); 
    });
    $('#call').on('click', function(e) { 
        changeTab('call'); 
        e.stopPropagation();
    });

    $('#flash a').on('click', function(e) {
        $('#flash').hide();
        e.stopPropagation();
    });
    </script>
</body>
</html>